<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', data: {turbolinks_track: true} %>    
    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>    
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-100">
    <div class="main">      
      <div class="px-3 lg:px-0">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
